<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>instruction-start-position</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="row justify-content-center">
    <h3> What is the start position on chromosome of my reference sequence ? </h3>
</div>

<div class="row justify-content-center">
    <div class="card flex-fill ml-3 mr-3">
        <div class="card-header text-center">
            Start position on chromosome may be taken using Ensembl.
        </div>
        <div class="card-body text-center">
            Go to the Ensembl website: <a href="http://www.ensembl.org/Multi/Tools/Blast?db=core" target="_blank"> click here</a>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg ml-5 mr-5">
        <a href="/"> back to main page</a>
    </div>
</div>
</body>
</html>